PySide6>=6.8
PySide6-Fluent-Widgets>=1.11
# PySide6-WebEngine>=6.8
openpyxl>=3.1
PyMuPDF>=1.26
requests>=2.32
google-api-python-client>=2.180
google-auth>=2.40
google-auth-oauthlib>=1.2
google-auth-httplib2>=0.2
msal>=1.33
pytest>=8.0
streamlit>=1.40
pandas>=2.2
plotly>=5.24